@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
header .h_top,
header nav .h_btm,
main #shop_info,
main #selling,
footer
{width: 1300px; margin: 0 auto ;}

/* 헤더 */
header {}
/* 헤더 광고 */
header .ad_bg {
    background-color: aqua;
    height: 36px;
}
header .ad_bg .ad {background-color: aquamarine;}
header .ad_bg .ad p {
    text-align: center;
    line-height: 36px;
}
/* 헤더 상단 */
header .h_top {
    background-color: bisque;
    height: 100px;
    position:relative;
}
header .h_top h1 {
    padding: 35px 0;
    text-align: center;
    position:absolute;
    left:50%;
    margin-left:-60px;
}
header .h_top h1 img {}
header .h_top .user_info {background-color: blue; float:right; margin-top:40px;}
header .h_top .user_info ul { float:left; }
header .h_top .user_info ul li {
    margin-right: 20px;
    float:left;
}
header .h_top .user_info ul li:last-child {
    margin-right: 0px;
}
header .h_top .user_info ul li a {
    font-size: 0.833rem;
}
header .h_top .user_info ul li span {}
header .h_top .user_info ul li img {}
/* 헤더 하단 */
header nav {background-color: blueviolet;}
header nav .h_btm {
    background-color: cadetblue;
    height: 50px;
}
header nav .h_btm li:first-child {
    margin-left: 8%;
}
header nav .h_btm li {
    display: inline;
    line-height: 50px;
    margin-right: 34px;
}
header nav .h_btm li:last-child {
    margin-right: 0px;
}
header nav .h_btm li a {
    font-size: 0.833rem;
}
/* 사이드바 */
aside {
    background-color: burlywood;
    position: fixed;
    right: 0px; bottom: 50%;
    background-color: #fff;
    width: 32px; height: 152px;
}
aside a {
    width: 30px; height: 30px;
    border: 1px solid #aaa;
    display: block;
    padding: 4px 0 0 2px;
}
aside a:first-child {
    background-color: coral;
}
aside a img {width: 90%; background-image: none;}
/* 메인 */
main {background-color: chocolate;}
/* 메인 베너 */
main .m_b_bg {background-color: coral;}
main .m_b_bg a {}
main .m_b_bg a img {width: 100%;}
/* 가게 정보 */
main #shop_info {
    background-color: cornflowerblue;
}
main #shop_info a {
    display: inline-block;
    margin-right: 16px;
    width: 420px; height: 350px;
}
main #shop_info a:last-child {margin-right: 0px;}
main #shop_info a img {width: 100%;}
/* 판매 제품 */
main #selling {
    background-color: crimson;
}
main #selling h2 {
    text-align: center;
    font-weight: 700;
    padding: 80px 0 100px 0;
}
main #selling ul {}
/* 굿즈 1~6번 */
main #selling ul .goods {
    background-color: darkblue;
    width: 424px; height: 443px;
    display: inline-block;
    margin-right: 8px;
}
main #selling ul .goods:last-child {
    margin-right: 0px;
}
main #selling ul .goods a {
}
main #selling ul .goods a img {}
main #selling ul .goods h3 {}
main #selling ul .goods p {}
main #selling ul .goods p em {}
main #selling ul .goods p span {}
main #selling ul .goods span {}
main #selling ul .goods .sub_contents {background-color: darkcyan;}
main #selling ul .goods .sub_contents p {}
main #selling ul .goods .point {background-color: darkgoldenrod;}
main #selling ul .goods .point p {}
/* 하단 신발 배경 */
main .main_btm_bg {
    background-color: darkorchid;
    width: 100%;
    height: 283px;
}
main .main_btm_bg img {width: 100%;}
main .main_btm_bg #main_btm {background-color: darkorange;}
main .main_btm_bg #main_btm h3 {}
main .main_btm_bg #main_btm p {}
/* footer */
footer {
    background-color: deepskyblue;
    height: 190px;
}
footer .fnb {background-color: greenyellow;}
footer .fnb li {
    display: inline-block;
    margin-right: 30px;
    margin: 47px 30px 32px 0;
}
footer .fnb li:last-child {
    margin-right: 0px;
}
footer .fnb li a {
    font-size: 0.833rem;
}
footer address {
    font-size: 0.833rem;
    line-height: 18px;
}